.container {
    padding: 5px;
    margin: 5px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: black;
    z-index: 100;
  }

  .line {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    justify-content: center
  }

  .fixed {
    position: sticky;
    width: 100%;
    top: 0px;
    overflow: hidden;
    background-color: black;
    z-index: 99;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }